
<nav>
    <% if logged_in? %>

        <h2>Welcome, <% current_user.trainer_name %>!</h2><br>

        <a href="/pokemons/new"> Add a new Pokemon to your team </a>
        <br><br>
        <a href="/trainers/:slug"> View your Pokemon </a>
        <br><br><br><br>
        <a href="/logout"> Log Out </a>

    <% else %>
        <h2>Hello, Trainer!</h2>
        <a href="/login">Log In </a>
        <br><br>
        <a href="/signup">Sign Up </a>
    
    <% end %>

</nav>
        

