<!doctype html>
<html>
    <head>
        <title>Pokemon Team Creator</title>
    </head>

    <body>


        <div class="page">
            <h1>Pokemon Team Creator</h1>
            <%= yield %>


        </div>

    </body>


</html>