<!doctype html>
<html>
    <head>
        <title>Pokemon Team Creator</title>
    </head>

    <body>


        <div class="page">
            <h1>Pokemon Team Creator</h1>
            <br><br>
            <%= yield %>


        </div>
        <br><br><br><br><br><br><br><br><br><br>
        <% if logged_in? %>
            <button><a href="/logout">Log Out</a></button>
        <% end %>

        <br><br><br>

        <button><a href="/about">About This Website</a></button>
    </body>


</html>