<h2>Returning Trainer Login</h2>

<br><br>

<form action="/login" method="POST">
    <label>Email </label>
        <input type="text" id="email" name="email">
    <label>Password </label>
        <input type="text" id="password" name="password">
    <input type="submit" name="login" value="login">
</form>
<br>
<% unless locals.empty? %>
    <%= message %>
<% end %>

<br><br><br><br>

<h3>Don't have an account?</h3>
<a href="/signup">Sign Up Here</a>
