<h2>Hello, <%= @trainer.trainer_name.capitalize %>!</h2>

<br><br>
    <% if logged_in? && session[:user_id] == @trainer.id %>
        <a href="/trainers/<%= @trainer.slug %>/edit">Edit Trainer Info</a>
    <% end %>
<br><br><br>

<ul>
    <% @pokemons.each do |p| %>
        <li><a href="/pokemons/<%= p.slug %>"> <%= p.name %></a></li>
        <br><br>
    <% end %>
</ul>


<br><br><br><br>

<p><a href="/pokemons/new">Create a new Pokemon here</a>