<h2>Hello, <%= @trainer.trainer_name.capitalize %>!</h2>

<br><br>
    <% if logged_in? %>
        <button><a href="/trainers/<%= @trainer.slug %>/info">Trainer Info</a></button>
    <% end %>
<br><br><br>

<h3>Your Pokemon Team</h3>
    <button><a href="/pokemons">View All Pokemon</a></button>
<br><br><br>
<ul>
    <% @pokemons.each do |p| %>
        <% if p.trainer_id == @trainer.id %>
            <li><a href="/pokemons/<%= p.slug %>"> <%= p.name %></a></li>
            <br><br>
        <% end %>
    <% end %>
</ul>


<br><br><br><br>

<button><a href="/pokemons/new">Create a new Pokemon</a></button>