<h2>Hello, <%= @trainer.trainer_name.capitalize %>!</h2>

<br><br>
    <% if logged_in? %>
        <button><a href="/trainers/<%= @trainer.slug %>/info">Trainer Info</a></button>
    <% end %>
<br><br><br>

<h3>Your Pokemon Team</h3>
<br><br>
<ul>
    <% @pokemons.each do |p| %>
        <li><a href="/pokemons/<%= p.slug %>"> <%= p.name %></a></li>
        <br><br>
    <% end %>
</ul>


<br><br><br><br>

<button><a href="/pokemons/new">Create a new Pokemon</a></button>